/* navbar */
body{
    margin: 0;
    overflow-x: hidden;
}
header{
    background-color: white;
    /* margin-top: none; */
    width: 100%;
    height: 60px;
    border-top: 5px solid orange;
    /* border-bottom: 2px solid orange; */
    /* align-items: center; */
    /* padding-top: 5px; */
    font-size: 18px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 3;
}
nav{
    height: 100%;
    width: 100%;
    margin-left: 60px;
    margin-top: 2px;
    /* margin: 0 auto; */
}
header div{
    display: inline-flex;
    padding-left: 5px;
}
a,a:hover{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#btn1, #btn2{
    /* padding: 0.2rem 0.375rem 0.4rem;
    line-height: 1.2; */
    font-size: 13px;
    /* width: 0px; */
}
#btn1{
    color: rgb(86, 161, 208);
}
.item-2,.item-1{
    /* margin: 0 auto; */
    height: 92%;
    padding-top: 13px;
    padding-right: 5px;
    /* border: 1px solid chartreuse; */
}
.item-2:hover,.item-1:hover{
    background-color: #E4E6E8;
}
.item-3{
    width: 90px;
    background-color: rgb(255, 132, 0);
    text-align: center;
    border-radius: 15px;
    

}
.item-3:hover{
    background-color: rgb(255, 154, 2);
}
.item-3 a{
    padding-left: 8px;
    color: white;
    
}
.item-3,.item-4,.item-5{
    margin-right: 25px;
    cursor: pointer;
}
.item-4, .item-5{
    /* background-color: #E4E6E8; */
    /* text-align: center; */
    width: 85px;
    border-radius: 20px;
}
.item-4:hover, .item-5:hover{
    background-color: #E4E6E8;
}
.item-4 a, .item-5 a{
    padding-left: 3px;

}
/* .item-6{
    width: 30%;
} */
.search{
    display: none;
    /* left: 50px; */
}
@media (max-width: 1332px){
    nav{
        margin-left: 0;
    }
    .item-3,.item-4,.item-5{
        margin-right: 2px;
    }
}
@media (max-width: 993px){
    
    .item-6{
        margin-left: 200px;
        /* width: 15px; */
    }
    .search-box{
        display: none;
        position: static;
    }
    .search{
       display: block;
    }
    .item-4, .item-5{
        display: none;
    }
}
@media (max-width: 768px){
    .stack-overflow{
        display: none;
    }
    .item-6{
        margin-left: 100px;
        /* width: 15px; */
    }
}

/* section-2 */

.sec-two{
    margin-top: 35px;
    /* border: 5px solid cyan; */
    background-image: url(https://cdn.sstatic.net/Img/home/illo-hero-full.svg?v=e2018a5f9272);
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
    background-position: center;
    background-color: #FFCF10;
    background-repeat: no-repeat;
    height: 480px;
}
.sec-two{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: auto;
}
.high-light{
    height: auto;
    margin-top: 35px;
    
}
.description{
    width: 420px;
    /* border: 2px solid blue; */
    text-align: center;
    /* padding: 0 ; */
    margin-left: 12%;
}
.dev-business a{
    /* border: 0.5px solid gainsboro; */
    padding: 10px;
    border-radius: 3px;
    width: 139px;
    /* height: 45px; */
}
#dev{
    background-color: white;
    color: #F48024;
}
#business{
    background-color: #F48024;
    color: white;

}

/* section-3 */
.community{
    text-align: center;
    padding: 64px 0;
    /* margin-top: 40px; */
}
.line{
    height: 8px;
    width: 64px;
    /* text-align: center; */
    background-color: #F48024;
    border-radius: 20px;
    margin: 0 auto;
    /* margin-left: 540px; */
    /* margin-left: 41%; */
}
.community p{
    font-size: 17px;
    width: 555px;
    margin: 0 auto;
    /* text-align: center; */
}
.community .line, .community h4, .community h3{
    font-family: 'Roboto Slab Bold',serif;
    margin-bottom: 25px;
}
.open-community, .open-community:hover{
    color: #F48024;
    /* cursor: pointer; */
    text-decoration: none;
}

section .card-system{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .card-system .card-1, section .card-system .card-3{
    /* margin-top: 105px; */
    transform: translateY(20%);
}
.card-1, .card-2, .card-3{
    width: 300px;
    height: 380px;
    margin: 15px;
    padding: 15px;
    /* border: 2px solid chartreuse; */
    box-shadow: 1px 1px 4px gray;
    border-radius: 8px;
    font-size: 78%;
    text-align: center;
}
.card-1:hover, .card-2:hover,.card-3:hover{
    box-shadow: 1px 1px 7px gray;
    /* transition: transform 1.5s; */
}
.card-img{
    margin-top: 18px;
}
.card h4{
    margin: 15px 0;
}
.card-text a, .card-text a:hover{
    color: #F48024;
}
.btn-1{
    width: 170px;
    background-color: #2B2D6E;
}
.btn-2{
    width: 110px;
    background-color: #F48024;
}
.btn-3{
    width: 100px;
    background-color: #2B2D6E;
}
.btn-1, .btn-2, .btn-3{
    height: 45px;
    border-radius: 5px;
    padding: 9px;
    margin: 0 auto;
    color: white;
    cursor: pointer;
}
.card-btn a{
    color: white;
    /* margin: 25px auto; */
}
.sec-three{
    margin-bottom: 140px;
}
@media (max-width: 640px){
    .sec-two{
        background-image: url("https://cdn.sstatic.net/Img/home/illo-hero-small.svg?v=884735d21ea5");
    }
    .high-light h1{
        font-size: 33px;
        font-family: 'Roboto Slab Bold',serif;
        font-weight: 700;
        /* width: 90%; */
        margin-bottom: 25px;
    }
    .dev-business{
        display: flex;
        flex-direction: column;
        
        /* justify-content: center;*/
        align-items: center;
        /* text-align: center;  */
    }
    .dev-business a{
        margin-bottom: 10px;
    }
    .description{
        margin-right: 40px;
    }
    .description p{
        /* margin-top: 55px; */
        width: 85%;
        text-align: center;
        font-size: 19px;
        margin-bottom: 22px;
    }
    /* section-3 */
    .community p{
        font-size: 15px !important;
        width: 460px !important;
    }
    .community h3{
        font-size: 28px !important;
    }
    .sec-five .community p{
        font-size: 16px !important;
        width: 400px !important;
    }
    /* section-4 */
    .community .business-developer{
        width: 420px !important;
        font-size: 14px !important;
        text-align: center;
    }
    .community .business-developer{
        width: 90% !important;
        font-size: 14px !important;
    }
    @media (max-width: 505px){
        .community p{
            /* font-size: 15px !important; */
            width: 455px !important;
        }
        .community .business-developer{
            width: 420px !important;
            font-size: 14px !important;
        }
        .community h3{
            font-size: 28px !important;
        }
    }

    
}
/* section-4 */
.sec-four{
    background-color: #F7F6F9;
    padding-bottom: 80px;
}
.community .business-developer{
    width: 640px;
    font-size: 17px;
}
.card2-deck{
    margin: auto 100px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.card2{
    background-color: white;
    width: 380px;
    height: 200px;
    margin: 20px;
    font-size: 17px;
    /* text-align: center; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
    padding: 32px !important;
}
@media (max-width: 1100px){
    .card2{
        width: 310px !important;
        height: 310px;
        flex-direction: column;
        font-size: 14px !important;
    }
}
.card2 img{
    width: 80px;
    margin-left: 5px;
}
.card2 p{
    margin-left: 5px;
    /* margin-right: 5px; */
    /* font-size: 10px; */
    margin-top: 25px;
}
/* card container setting up */

/* section-5 */
#sec-five{
    background-color: #2B2D6E;
    /* height: 780px; */
    padding-bottom: 50px;
}
.sec-five{
    color: white;
    margin-bottom: 20px;
}
.sec-five .community{
    /* padding: 50px; */
    margin: 0 auto;
    width: 500px;
    height: fit-content;
    /* border: 2px solid white; */
    
}
.sec-five h3{
    font-weight: bold;
}
.sec-five p{
    width: 90%;
    margin-bottom: 25px;
}
#learn-more{
    width: 110px;
    height: 40px;
    margin: 0 auto;
    background-color: #F48024;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
#learn-more a{
    color: white;
    padding: 5px;
}
.card3-deck{
    background-image: url("https://cdn.sstatic.net/Img/product/teams/illo-teams-pricing.svg?v=8afb8ac7c580");
    background-repeat: no-repeat;
    background-size: 1230px;
    /* background-attachment: fixed; */
    background-position: center;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}
@media (max-width: 1066px){
    /* background-size: ; */
    .card3-deck{
        background-size: 84%;
    }
}
.top-most{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 0 15px;
    /* margin: 8px; */
    background-color: #E4E6E8;
    width: 250px;
    position: absolute;
    transform: translate(15%,-68%);
    border-radius: 5px;
    z-index: 0 !important;
}
.card3{
    /* width: 304px; */
    width: 304px;
    /* height: 552px;  */
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    outline: none;
    z-index: 2 !important; 
}
.card3 p, .card3 .icon-details{
    font-size: 13.5px;
}
.icons .icon-details{
    margin-left: 10px;
}
.icons div{
    display: flex;
    flex-flow: row;
}
.card3 .btn1, .card3 .btn2, .card3 .btn3{
    /* border: 2px solid blueviolet; */
    height: 40px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}
.card3 .btn2 a, .card3 .btn3 a{
    color: white;
}
.card3 .btn1{
    background-color: #C8CCD0;
    margin-top: 113px;
}
.card3 #h6-1{
    background-color: #C8CCD0;
    /* color: #3e4656; */
    width: 70px;
    height: 28px;
    padding-left: 12px;
    border-radius: 5px;
}
.card3 .btn2{
    background-color: #3C4146;
    margin-top: 60px;
    /* width: fit-content; */
     
}
.card3 #h6-2{
    background-color: #3C4146;
    color: white;
    width: 90px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}
.card3 .btn3{
    background-color: #2B2D6E;
}
.card3 .btn1:hover, .card3 .btn2:hover, .card3 .btn3:hover{
    background-color: #0095FF;
}
.card3 #h6-3{
    background-color: #2B2D6E;
    color: white;
    width: 105px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}
/* 940px screen er por theke section-5 er footer er management korte hobe... */
.sec-footer{
    margin: 75px auto;
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-direction: row;
}
.sec-footer div{
    margin: 0 10px;

}
.sec-footer a .info{
    /* margin-left: 5px; */
    padding: 2px;
    /* font-size: 10px; */
}
.sec-footer a{
    font-weight: bold;
    color: #BBC0C4;
    /* padding: 200px; */
}
@media (max-width: 629px){
    .sec-footer a .info{
        font-size: 10.1px;
    }
}
.sec-footer a:hover{
    font-weight: bold;
    color: lightyellow;
}
@media (max-width: 940px){
    .sec-footer{
        display: grid !important;
        grid-row-gap: 15px;
        grid-template-columns: 33% 33%;
        justify-items: center;
    }
    .sec-footer .a-3{
        grid-column: 1/span 2;
    }
}
@media (max-width: 1064px){
    .card3-deck{
        margin: 0 auto !important;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 5px;
        grid-template-columns: 33% 33%;
    }
    .card3{
        width: 95%;
    }
    .top-most{
        width: 26%;
    }
    .card3-3{
        width: 199%;
    }
    .card3 .btn3{
        margin-top: 60px;
    }
    
    
}
@media (max-width:721px){
    .card3-deck{
        display: grid !important;
        grid-column-gap: 10px;
        grid-template-columns: 33%;
        /* flex-flow: column; */
        /* justify-content: center; */
        justify-items: center;
    }
    .card3{
        width: 404px;
    }
    .top-most{
        width: 325px;
    }
}
@media (max-width: 816px){
    /* sec-3 */
    section .card-system{
        transform: translateY(-9%);
        display: flex;
        position: static;
        flex-flow: column;
    }
    section .card-system .card{
        width: 330px;
        height: 380px;
        font-size: 82%;
    }
    .card-system .card-2{
        transform: translateY(20%);
    }
    .sec-three{
        margin-bottom: 40px;
    }
    /* sec-4 */
    .card2-deck{
        margin: auto 100px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .card2{
        width: 350px !important;
        height: 180px;
        font-size: 18px !important;
        /* margin: 20px;
         */
        /* text-align: center; */
        /* margin: 0 auto; */
        display: flex;
        flex-direction: row;
    }

    /* section-5 card management*/
    .card3-2{
        grid-row: 1/span 1 !important;
    }
}
